@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Start to Finish</h1>
    <hr />
    <p class="lead text-secondary">Start to Finish is a easy to use way to organize all of your current projects, by letting you assign different tasks to help you stay organized and on track. We want to help you make any easy roadmap for what you need to get done. And the most efficent way to get there.</p>
    <p><a href="/Home/About" class="btn btn-primary">Learn more &raquo;</a></p>
</div>

